
test-output/collapseall.gif
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/zelDocker/SelDocker1.class
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
*.png
*.css
test-output/jquery-1.7.1.min.js
test-output/old/Default suite/Default test.properties
test-output/testng-reports.js
test-output/old/Suite/Test.properties
.gitattributes
.project
*.prefs
.classpath
